body{
    font-family: 'Roboto', sans-serif;
    background-color: #d5b9b2;
}

/* navbar css starts here  */
.bg-light{
    background-color: #f2e9e4!important;
}

.navbar-brand{
    font-family: 'Sansita Swashed', cursive;
    font-size: 1.5rem;
    color: #5f6368!important;
}

.nav-link{
    color: #5f6368!important;
    font-family: 'Noto Sans JP', sans-serif;
    border: transparent;
}

.nav-link:hover{
    background-color: #f3f1f1;
}
/* navbar css ends here  */

.my-info{
    padding: 2rem 5rem;
}

.btn-info{
    padding: 1rem 1.2rem;
    background-color: rgb(78, 153, 223)!important;
    color: #fff!important;
    margin-left: 5px;
    padding: 0.75rem;
    transition: all 0.3s;
}

.btn-info:hover{
    background-color: rgb(67, 83, 230)!important;
}

.custombtn{
    background-color: #fff;
    color:chartreuse;
}

.transferblock{
    text-align: center;
    position: relative;
    top:20px;
    margin-bottom: 30px;
}

.send,.rec{
    border: transparent;
    border-bottom: 1px solid white;
    background: transparent;
    margin-bottom: 10px;
    padding:10px;
    padding-left: 30px;
    padding-right: 30px;
}

.send:hover,.rec:hover{
    background-color: #fff;
}

.send:active,.rec:active{
    border: transparent;
}

.expand{
    border: none;
    background-color: darkcyan;
    color:black;
}

.expand:hover{
    background-color: coral;
    color:white;
}

.hid{
    visibility: hidden;
    display: none;
}

.send{
    display: none;
    visibility: hidden;
}

.info{
    text-align: center;
}

.rec{
    position: relative;
    bottom: 30px;
}